/*
	Reset standard tags properties.
	@section reset
*/
* {
	margin: 0;
	padding: 0;
}

/*
	Common properties for all the pages
*/
html, body {
	background: #6B6565;
	font-family: 'Comfortaa', cursive;
	color: #141367;
}

.wrapper {
	position: relative;
	min-width: 1200px;
	margin: 15px;
	box-shadow: 0px 0px 15px black;
	background-color: #BBB7B7;
	border-radius: 5px;
}
/*
	@section header
*/
header {
	height: 80px;
	display: flex;
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #949494;
}

.header-topic {
	width: 70%;
	text-align: center;
	font-size: larger;
}

.header-info {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 10px;
	height: inherit;
}

.header-info-logout {
	display: flex;
	margin-top: 10px;
}

.header-info-logout p {
	margin-right: 10px;
}

.header-info-localeform {
	margin-bottom: 5px;
}

/*
	@section footer
*/
footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	text-align: center;
	background-color: #949494;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Lobster', cursive;
}

/*
	@section menu
*/
menu {
	height: 150px;
	padding-left: 0;
	width: 25%;
	border: 1px solid rgb(206, 206, 206);
	margin: 10px;
	padding-top: 40px;
}

menu ul {
	list-style-type: none;
	padding-left: 10px;
}

menu a {
	font-size: 18px;
	font-weight: bolder;
	color: #100F46;
	text-decoration: none;
}

menu a:hover {
	padding: 3px 0;
	color: #040288;
	box-shadow: 0 0 5px;
	border-radius: 15px;
}

/*
	@section content
*/
.content-wrapper {
	padding-bottom: 40px;
	display: flex;
	min-height: 800px;
}

.content {
	margin: 5px;
	width: 75%;
}

.content-search-forms {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.content-search-error-message {
	text-align: right;
	margin: 0 10px 10px 0;
}

.content-delete {
	min-height: 600px;
}
/*
	news post section
*/
.content-newspost {
	box-shadow: 0 0 4px 2px rgb(222, 222, 222);
	margin-bottom: 50px;
	background-color: gainsboro;
}

.newspost-title span {
	margin-bottom: 10px;
}

.newspost-title {
	display: flex;
	flex-direction: column;
}

.newspost-title span a {
	font-weight: lighter;
	color: #0A2261;
}

.newspost-title span a:hover {
	font-weight: bold;
	color: #5987FF;
}

.newspost-info span {
	color: red;
	float: right;
}

.newspost-edit {
	float: right;
	margin-left: 30px;
}

.content-pages {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #003BD6;
	font-weight: bolder;
	font-size: 15px;
	cursor: pointer;
}

a:hover {
	color: #5987FF;
}

.content-delete input[type="submit"] {
	float: right;
	margin-right: 10px;
}

#delete-message {
	float: right;
}

.newspage-content {
	margin: 50px;
	padding: 15px;
	background-color: gainsboro;
	box-shadow: 0px 5px 14px #9D99A7;
	border-radius: 5px;
}

.newspage-content span {
	font-weight: bold;
}

.newspage-title {
	justify-content: space-between;
	display: flex;
	margin-bottom: 20px;
}

.newspage-title input {
	font-family: inherit;
}

.newspage-title h4 {
	margin: 0px;
}

.newspage-title input {
	margin-left: 20px;
	width: 550px;
}

.newspage-brief {
	justify-content: space-between;
	display: flex;
	margin-bottom: 20px;
}

.newspage-brief h4 {
	margin: 0px;
}

.newspage-brief input {
	margin-left: 20px;
	width: 550px;
}

.newspage-text {
	justify-content: space-between;
	display: flex;
	margin-bottom: 20px;
}

.newspage-text h4 {
	margin: 0px;
}

.newspage-select {
	margin-bottom: 20px;
}

.newspage-text textarea {
	font-family: inherit;
	resize: none;
	margin-left: 20px;
	width: 550px;
	height: 300px;
	margin-left: 20px;
}

.newspage-brief textarea {
	font-family: inherit;
	resize: none;
	width: 550px;
	height: 100px;
}

.newspost-brief article {
	color: #100F46;
	margin: 20px;
}

.newspost-comments {
	width: 450px;
	margin-left: 20px;
}

.newspost-content {
	margin: 10px;
	padding: 10px;
}

.newspost-info a {
	font-weight: lighter;
	color: #0A2261;
}

.newspost-info a:hover {
	font-weight: bold;
	color: #5987FF;
}

.newspost-nav {
	margin-bottom: 40px;
}

.newspost-info i {
	margin: 0px 5px 0px 5px;
}

.comment-text {
	display: flex;
	justify-content: space-between;
	background-color: #E2E2E2;
	margin-bottom: 15px;
}

.comment-text p {
	word-break: break-all;
	white-space: pre-line;
	margin: 0;
}

.comments-form {
	margin-bottom: 40px;
}

.comments-form textarea {
	font-family: inherit;
	resize: none;
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
}

.content-editlist {
	border-radius: 5px;
	margin: 50px;
	padding: 15px;
	background-color: gainsboro;
	box-shadow: 0px 5px 14px #9D99A7;
}

.content-scrollList {
	box-shadow: inset 0px 0px 10px 1px gray;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 550px;
	height: 600px;
	margin-bottom: 30px;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 1px;
	border-color: #777;
	background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	border-color: #555;
	background-color: #777;
}

::-webkit-scrollbar-track {
	border-width: 0;
}

.content-editform {
	display: flex;
	margin-bottom: 10px;
}

.button {
	height: 20px;
	display: inline-block;
	/*font-family: arial, sans-serif;*/
	font-size: 11px;
	font-weight: bold;
	color: rgb(68, 68, 68);
	text-decoration: none;
	user-select: none;
	padding: .2em 1.2em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
	background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	display: inline-block;
}

.showButton {
	margin-top: 1px;
}

.button:hover {
	color: rgb(0, 0, 0);
	border: 1px solid rgb(198, 198, 198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.button:active {
	color: rgb(51, 51, 51);
	border: 1px solid rgb(204, 204, 204);
	background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238),
		rgb(224, 224, 224));
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.error-page {
	background-color: #DEDEDE;
	border-radius: 5px;
	width: 600px;
	height: 500px;
	text-align: center;
	margin: auto;
	box-shadow: 0px 0px 10px #6F6F6F;
}

.error-page h1 {
	font-size: 25px;
	margin: 0px;
	color: #270082;
}

.error-page img {
	height: 300px;
	width: 300px;
}

.error-page h3 {
	font-size: 30px;
	color: #2A1C4C;
}

.error-page a {
	font-size: 15px;
	font-weight: bold;
	color: #100F46;
	text-decoration: none;
}

.error-page a:hover {
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #040288;
	box-shadow: 0 0 5px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 15px;
}

.no-news-message {
	font-size: 15px;
	font-weight: bold;
	color: #A20101;
	text-align: center;
}

.authorization {
	width: 500px;
	height: 250px;
	background-color: #D8D8D8;
	margin: 180px auto;
	box-shadow: 0px 0px 10px #828282;
	border-radius: 5px;
}

.authorization-form {
	display: flex;
	flex-direction: column;
	padding: 60px;
}

.authorization input[type=text], .authorization input[type=password] {
	margin: 5px;
	padding: 0 10px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
}

.authorization input {
	font-size: 14px;
}

.authorization input[type=text]:focus, .authorization input[type=password]:focus
	{
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}

.authorization-button {
	margin-top: 20px;
	width: 100px;
	height: 30px;
}

.multi-select {
	width: 500px;
}

.single-select {
	width: 200px;
}

.error-message {
	color: red;
	display: none;
	margin-right: 10px;
}