html, body {
	height: 100%;
	background: #6B6565;
	font-family: 'Comfortaa', cursive;
}

.error-message {
	color: red;
	display: none;
	margin-right: 10px;
}

.wrapper {
	position: relative;
	min-width: 1200px;
	min-height: 100%;
	margin: 20px;
	box-shadow: 0px 0px 25px black;
	background-color: #BBB7B7;
	border-radius: 5px;
}

.header {
	height: 50px;
	display: flex;
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #949494;
}

.header-topic {
	width: 70%;
	text-align: center;
	color: #030489;
}

.header-info {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding-right: 10px;
}

.button {
	height: 20px;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	color: rgb(68, 68, 68);
	text-decoration: none;
	user-select: none;
	padding: .2em 1.2em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
	background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	display: inline-block;
}

.button:hover {
	color: rgb(24, 24, 24);
	border: 1px solid rgb(198, 198, 198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.button:active {
	color: rgb(51, 51, 51);
	border: 1px solid rgb(204, 204, 204);
	background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238),
		rgb(224, 224, 224));
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.content-wrapper {
	padding-bottom: 40px;
	display: flex;
	min-height: 800px;
}

.content-newspost {
	box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
	margin-bottom: 50px;
	background-color: gainsboro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.newspost-edit {
	float: right;
	margin-left: 30px;
}

.multi-select {
	width: 500px;
}

.chosen-single span {
	color: #7B7E86;
}

.search-choice span {
	color: #7B7E86;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #003BD6;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

a:hover {
	color: #5987FF;
}

.content {
	width: 100%;
	margin: 5px;
	display: flex;
	flex-direction: column;
}

.content-newslist {
	min-height: 600px;
}

.content-search {
	
}

.content-search-forms {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content-pages {
	background-color: #E4E4E4;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-news table {
	width: 100%;
	padding: 20px;
}

.content-delete table {
	width: 100%;
	padding: 20px;
}

.footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	text-align: center;
	background-color: #949494;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Lobster', cursive;
}

.newspage-content {
	margin: 50px;
	padding: 15px;
	background-color: gainsboro;
	display: flex;
	flex-direction: column;
}

.newspage-title {
	display: flex;
	margin-bottom: 20px;
}

.newspage-title h4 {
	margin: 0px;
}

.newspage-title input {
	margin-left: 20px;
	width: 100%;
}

.newspage-brief {
	display: flex;
	margin-bottom: 20px;
}

.newspost-brief article {
	color: #100F46;
	margin: 5px;
}

.newspage-brief h4 {
	margin: 0px;
}

.newspage-brief input {
	margin-left: 20px;
	width: 100%;
}

.newspage-text {
	display: flex;
	margin-bottom: 20px;
}

.newspage-text h4 {
	margin: 0px;
}

.newspage-select {
	margin-bottom: 20px;
}

.newspage-text textarea {
	resize: none;
	margin-left: 20px;
	width: 100%;
	margin-left: 20px;
}

.newspost-content {
	margin: 10px;
	padding: 10px;
}

.newspost-comments {
	width: 450px;
	margin-left: 20px;
}

.newspost-title {
	display: flex;
	flex-direction: column;
}

.newspost-title span a {
	font-weight: lighter;
	color: #0A2261;
}

.newspost-title span a:hover {
	font-weight: bold;
	color: #5987FF;
}

.newspost-info a {
	font-weight: lighter;
	color: #0A2261;
}

.newspost-info a:hover {
	font-weight: bold;
	color: #5987FF;
}

.comment-text {
	display: flex;
	justify-content: space-between;
	background-color: #E2E2E2;
	margin-bottom: 15px;
	word-break: break-all;
}

.comments-form {
	margin-top: 70px;
}

.comments-form textarea {
	resize: none;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.content-editlist {
	margin: 50px;
	padding: 15px;
	background-color: gainsboro;
	display: flex;
	flex-direction: column;
}

.content-scrollList {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 500px;
	height: 600px;
	margin-bottom: 30px;
}

.content-editform {
	display: flex;
}

.no-news-message {
	font-size: 15px;
	font-weight: bold;
	color: #A20101;
	text-align: center;
}

.multi-select {
	width: 500px;
}

.single-select {
	width: 200px;
}

.error-page {
	background-color: #DEDEDE;
	border-radius: 20px;
	border: 1px solid black;
	width: 600px;
	height: 500px;
	text-align: center;
	margin: auto;
	box-shadow: 10px 10px 40px gray;
}

.error-page h1 {
	font-size: 30px;
	margin: 0;
	color: #270082;
}

.error-page img {
	height: 300px;
	width: 300px;
}

.error-page h3 {
	font-size: 30px;
	color: #2A1C4C;
}

.error-page a {
	font-size: 15px;
	font-weight: bold;
	color: #100F46;
	text-decoration: none;
}

.error-page a:hover {
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #040288;
	box-shadow: 0 0 5px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 15px;
}

.content-search-error-message {
	text-align: right;
	margin: 0 10px 10px 0;
}